Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

# Исследование надежности заемщиков

Есть ли зависимость между количеством детей и возвратом кредита в срок?
Есть ли зависимость между семейным положением и возвратом кредита в срок?
Есть ли зависимость между уровнем дохода и возвратом кредита в срок?
Как разные цели кредита влияют на его возврат в срок?
Приведите возможные причины появления пропусков в исходных данных.
Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [43]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [44]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [46]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [47]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [48]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [49]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [50]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [51]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [52]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [53]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [54]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [55]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [56]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [57]:
data.duplicated().sum()

71

In [58]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [59]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [60]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [61]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [62]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [63]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21331 entries, 0 to 21524
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   children               21331 non-null  int64
 1   days_employed          21331 non-null  float64
 2   dob_years              21331 non-null  int64
 3   education              21331 non-null  object
 4   education_id           21331 non-null  int64
 5   family_status          21331 non-null  object
 6   family_status_id       21331 non-null  int64
 7   gender                 21331 non-null  object
 8   income_type            21331 non-null  object
 9   debt                   21331 non-null  int64
 10  total_income           21331 non-null  int64
 11  purpose                21331 non-null  object
 12  total_income_category  21331 non-null  object
 13  purpose_category       21331 non-null  object
dtypes: float64(1), int64(6), object(7)
memory usage: 2.4+ MB

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

**Для того, чтобы ответить на вопрос сначала проверим столбец children на наличие аномальных данных**

In [64]:
# с помощью функции describe 
data['children'].describe()
# проанализируем статистические характеристики данных столбца children

count    21331.000000
mean         0.474005
std          0.752378
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          5.000000
Name: children, dtype: float64

Аномальных данных не обнаружено: минимум 0 – отсутствие детей, максимум 5 детей, отрицательных значений нет.

**Аналогичным способом проверим столбец debt**

In [65]:
# запускаем функцию describe 
data['debt'].describe()

count    21331.000000
mean         0.081196
std          0.273143
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: debt, dtype: float64

Аномальных данных нет: минимум 0 – нет долга, максимум 1 – долг есть, отрицательных значений нет.

Проверим, сколько уникальных значений в столбце children

In [66]:
# с помощью функций len и unique посчитаем количество вариантов значений в столбце children
print(len(data['children'].unique()))

6

Уникальных значений – 6, довольно много, визуалиция с таким количеством вариантов усложнит процесс анализа. Понадобится категоризация.

**Чтобы нагляднее представить и понять зависимость наличия долга от наличия/количества детей:** 
- распределим количество детей по категориям;
- сформируем сводную таблицу, которая покажет количественную информацию по новому столбцу с категориями детей относительно двух параметов из столбца debt – есть долг или его нет.

Распределим количество детей по категориям следующим правилам:
- 0 - будет означать категорию "бездетный";
- 1-2 ребёнка попадает в категорию "до двух детей";
- 3 и более принадлежат категории "многодетный".
Правила классификации запишем в новую функцию.

In [67]:
# создаём функцию children_category

def children_category(children):
    
    if children == 0:
        return 'бездетный'
    if 1 <= children <= 2:
        return 'до двух детей'
    if children >= 3:
        return 'многодетный'

Проверим как отрабатывает функция.

In [68]:
# если количество детей равно 0
print(children_category(0))

бездетный

In [69]:
# если количество детей равно 1
print(children_category(1))

до двух детей

In [70]:
# если количество детей равно 5
print(children_category(5))

многодетный

**Теперь необходимо создать новый столбец и записать в него значения, возвращаемые функцией методом apply.**

In [71]:
# создаём столбец для данных с категориями детей
data['children_category'] = data['children'].apply(children_category)

Проверим результат, для чего выведем первые 20 строк датафрейма.

In [72]:
# проверяем таблицу
print(data.head(20))

    children  days_employed  dob_years            education  education_id  \
0          1    8437.673028         42               высшее             0
1          1    4024.803754         36              среднее             1
2          0    5623.422610         33              среднее             1
3          3    4124.747207         32              среднее             1
4          0  340266.072047         53              среднее             1
5          0     926.185831         27               высшее             0
6          0    2879.202052         43               высшее             0
7          0     152.779569         50              среднее             1
8          2    6929.865299         35               высшее             0
9          0    2188.756445         41              среднее             1
10         2    4171.483647         36               высшее             0
11         0     792.701887         40              среднее             1
12         0  365286.622650         65              среднее             1
13         0    1846.641941         54  неоконченное высшее             2
14         0    1844.956182         56               высшее             0
15         1     972.364419         26              среднее             1
16         0    1719.934226         35              среднее             1
17         0    2369.999720         33               высшее             0
18         0  400281.136913         53              среднее             1
19         0   10038.818549         48              среднее             1

       family_status  family_status_id gender income_type  debt  total_income  \
0    женат / замужем                 0      F   сотрудник     0        253875
1    женат / замужем                 0      F   сотрудник     0        112080
2    женат / замужем                 0      M   сотрудник     0        145885
3    женат / замужем                 0      M   сотрудник     0        267628
4   гражданский брак                 1      F   пенсионер     0        158616
5   гражданский брак                 1      M   компаньон     0        255763
6    женат / замужем                 0      F   компаньон     0        240525
7    женат / замужем                 0      M   сотрудник     0        135823
8   гражданский брак                 1      F   сотрудник     0         95856
9    женат / замужем                 0      M   сотрудник     0        144425
10   женат / замужем                 0      M   компаньон     0        113943
11   женат / замужем                 0      F   сотрудник     0         77069
12  гражданский брак                 1      M   пенсионер     0        118514
13   женат / замужем                 0      F   сотрудник     0        130458
14  гражданский брак                 1      F   компаньон     1        165127
15   женат / замужем                 0      F   сотрудник     0        116820
16   женат / замужем                 0      F   сотрудник     0        289202
17  гражданский брак                 1      M   сотрудник     0         90410
18    вдовец / вдова                 2      F   пенсионер     0         56823
19         в разводе                 3      F   сотрудник     0        242831

                                   purpose total_income_category  \
0                            покупка жилья                     B
1                  приобретение автомобиля                     C
2                            покупка жилья                     C
3               дополнительное образование                     B
4                          сыграть свадьбу                     C
5                            покупка жилья                     B
6                        операции с жильем                     B
7                              образование                     C
8                    на проведение свадьбы                     C
9                  покупка жилья для семьи                     C
10                    покупка недвижимости                     C
11       покупка коммерческой недвижимости                     C
12                         сыграть свадьбу                     C
13                 приобретение автомобиля                     C
14              покупка жилой недвижимости                     C
15  строительство собственной недвижимости                     C
16                            недвижимость                     B
17              строительство недвижимости                     C
18      на покупку подержанного автомобиля                     C
19            на покупку своего автомобиля                     B

            purpose_category children_category
0   операции с недвижимостью     до двух детей
1     операции с автомобилем     до двух детей
2   операции с недвижимостью         бездетный
3      получение образования       многодетный
4         проведение свадьбы         бездетный
5   операции с недвижимостью         бездетный
6   операции с недвижимостью         бездетный
7      получение образования         бездетный
8         проведение свадьбы     до двух детей
9   операции с недвижимостью         бездетный
10  операции с недвижимостью     до двух детей
11  операции с недвижимостью         бездетный
12        проведение свадьбы         бездетный
13    операции с автомобилем         бездетный
14  операции с недвижимостью         бездетный
15  операции с недвижимостью     до двух детей
16  операции с недвижимостью         бездетный
17  операции с недвижимостью         бездетный
18    операции с автомобилем         бездетный
19    операции с автомобилем         бездетный

**Создаём сводную таблицу методом pivot_table()**

In [73]:
data_debt_children = data.pivot_table(index=['children_category'], columns='debt', values='children', aggfunc='count') 
data_debt_children.columns = ['no_debt', 'debt'] 
# создали таблицу и столбцы сводной таблицы
data_debt_children['debt_children_share'] = data_debt_children['debt']/(data_debt_children['debt']
                                                                        + data_debt_children['no_debt']) 
# написали форумулу для расчёта доли должников
data_debt_children['debt_children_share'] = data_debt_children['debt_children_share'].map('{:.1%}'.format) 
#перевели долю в формат процентов
data_debt_children.sort_values(by='debt_children_share', ascending=False) 
#отсортировали по убыванию

                   no_debt  debt debt_children_share
children_category
до двух детей         6222   638                9.3%
многодетный            349    31                8.2%
бездетный            13028  1063                7.5%

**Вывод:  *У заёмщиков с одним или двумя детьми самый высокий риск появления задолженности по кредитам.***
<br>
У бездетных людей такая вероятность самая низкая. 
<br>
У граждан с тремя и более детьми процент ниже, чем у людей-родителей одного или двух. Вероятно это связано с более скромной выборкой по этой категории в нашем случае, по которой трудно судить. Либо у таких семей есть более твёрдые финансовые возомжности благодаря государственным выплатам и пособиям, положенным для многодетных.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

**Проверим столбец family_status на наличие аномальных данных**

In [74]:
# запускаем функцию describe 
data['family_status'].describe()

count               21331
unique                  5
top       женат / замужем
freq                12261
Name: family_status, dtype: object

Аномальных данных не обнаружено, уникальных значений 5, поэтому обойдёмся без категоризации.

In [75]:
data_debt_family = data.pivot_table(index=['family_status'], columns='debt',
                                    values='family_status_id', aggfunc='count')
data_debt_family.columns = ['no_debt', 'debt']
# создали таблицу и столбцы сводной таблицы
data_debt_family['debt_family_share'] = data_debt_family['debt'] / (data_debt_family['debt'] + data_debt_family['no_debt'])
# написали формулу для расчёта доли должников
data_debt_family['debt_family_share'] = data_debt_family['debt_family_share'].map('{:.1%}'.format)
# перевели долю в формат процентов
data_debt_family_sorted = data_debt_family.sort_values(by='debt_family_share', ascending=False)
# отсортировали по убыванию

print(data_debt_family_sorted)

                       no_debt  debt debt_family_share
family_status
Не женат / не замужем     2523   273              9.8%
гражданский брак          3749   385              9.3%
женат / замужем          11334   927              7.6%
в разводе                 1105    84              7.1%
вдовец / вдова             888    63              6.6%

**Вывод:  *Больше всего подвержены риску стать должниками оказались неженатые/незамужние заёмщики.***
<br>
Остальные категории примерно с одинаковыми более низкими процентами. 
<br>
С самым низким процентом должников оказалы вдовы/вдовцы. Это может быть связано с получением ими наследства от супруга, которыми они смогли распорядиться в пользу уплаты долгов.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

**Проверим total_income на наличие аномальных данных**

In [76]:
# запускаем describe 
data['total_income'].describe()

count    2.133100e+04
mean     1.653427e+05
std      9.831399e+04
min      2.066700e+04
25%      1.075070e+05
50%      1.425940e+05
75%      1.958420e+05
max      2.265604e+06
Name: total_income, dtype: float64

Аномальных данных не обнаружено, приступаем к сводной таблице.

Ранее в датафрейме уже был создан дополнительный столбец с категориями уровня дохода. 
<br>
Вспомним, по каким правилам на какие категории мы тогда распределили данные:
<br>
- 0–30000 — 'E';
- 30001–50000 — 'D';
- 50001–200000 — 'C';
- 200001–1000000 — 'B';
- 1000001 и выше — 'A'.

**Создаём сводную таблицу методом pivot_table()**

In [77]:
data_debt_income = data.pivot_table(index=['total_income_category'], columns='debt', values='total_income', aggfunc='count') 
data_debt_income.columns = ['no_debt', 'debt'] 
# создали таблицу и столбцы сводной таблицы
data_debt_income['debt_income_share'] = data_debt_income['debt'] / (data_debt_income['debt'] + data_debt_income['no_debt']) 
# написали форумулу для расчёта доли должников
data_debt_income['debt_income_share'] = data_debt_income['debt_income_share'].map('{:.1%}'.format) 
#перевели долю в формат процентов
data_debt_income.sort_values(by='debt_income_share', ascending=False) 
#отсортировали по убыванию
data_debt_income

                       no_debt  debt debt_income_share
total_income_category
A                           23     2              8.0%
B                         4660   354              7.1%
C                        14568  1353              8.5%
D                          328    21              6.0%
E                           20     2              9.1%

**Вывод:  *Самой опасной с точки зрения возврата денежных средства, взятых в кредит, оказалась категория со средним доходом величиной 50001–200000 р.*** 
<br> 
Следует также заметить, что эта категория самая массовая, что тоже может влиять на финальный результат. 
<br>
Наименьший риск представляет собой категория D. Из-за маленьких выборок категории А и Е в представлении результатов не участвуют, учитывать их в выводах будет некорректно, поскольку людей, входящих в них оказалось намного меньше.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

**Аналогичным образом для возможности анализа создадим сводную таблицу методом pivot_table()**

In [78]:
data_debt_purpose = data.pivot_table(index=['purpose_category'], columns='debt', values='purpose', aggfunc='count') 
data_debt_purpose.columns = ['no_debt', 'debt'] 
# создали таблицу и столбцы сводной таблицы
data_debt_purpose['debt_purpose_share'] = data_debt_purpose['debt'] / (data_debt_purpose['debt'] + data_debt_purpose['no_debt']) 
# написали форумулу для расчёта доли должников
data_debt_purpose['debt_purpose_share'] = data_debt_purpose['debt_purpose_share'].map('{:.1%}'.format) 
#перевели долю в формат процентов
data_debt_purpose.sort_values(by='debt_purpose_share', ascending=False) 
#отсортировали по убыванию

                          no_debt  debt debt_purpose_share
purpose_category
операции с автомобилем       3879   400               9.3%
получение образования        3619   369               9.3%
проведение свадьбы           2130   183               7.9%
операции с недвижимостью     9971   780               7.3%

**Вывод: *Становятся должниками с большей вероятностью те, кто берёт кредит на операции с автомобилеи и на образование. ***
<br>
У этих двух категорий почти одинаковый процент доли должников. 
<br>
А те, кто берёт кредит с целью операций с недвижимостью и будущие молодожёны – более отвественные плательщики.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Причиной такой ситуации может послужить как человеческий фактор, так и технический сбой. 
<br>
При заполнении, внесении данных наиболее возомжны ошибки, как по невнимательности, так и по неосведомлённости о правилах или случайности. 
<br>
Возможны технические сбои при хранении, выгрузке, отправке и получении данных.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Медианное значение более справделиво для количественных переменных, поскольку не берёт в расчёт значения экструмумов, которые могут очень сильно отличаться от общей "средней массы" и при вычислении среднего значения дают некорректную картину.

### Шаг 4: общий вывод.

**Менее охотно выплачивают кредиты граждане из категорий:**
<br>
- с одним или двумя детьми;
<br>
- неженатые/незамужние заёмщики;
<br>
- со средним доходом 50001–200000 р;
<br>
- у кого цель кредита: на операции с автомобилем и на получение образования.
<br>
<br>

**Самые добросовестные категории граждан по части выплат банкам:**
<br>
- бездетные;
- вдовцы и вдовы;
- у кого зарплата в диапазоне 30001–50000 р;
- с целью кредита, взятого на операции с недвижимостью или свадьбу.
<br>
<br>